{% extends 'layout/base.html' %}

{% block content %}
  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <!-- <img class="img-fluid mb-5 d-block mx-auto" src="/static/img/profile.png" alt=""> -->
      <!-- <h2 class="text-uppercase mb-0">GrandPy Bot</h2> -->
      <!-- <hr class="star-light"> -->
      <form method=POST>
        <div class="form-row align-items-center">
          <div class="col-10">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" name="form_question" class="form-control mb-6" id="inlineFormInput" placeholder="Please Enter your Question here">
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-secondary mb-2">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </header>

    <!-- About Section -->
    <section class="bg-secondary text-white mb-0" id="about">
      <div class="container">       
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <img class="img-fluid mb-5 d-block mx-auto" src="/static/img/robot.png" alt="">
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">{{ res }}</p>
          </div>
        </div>
        <!-- <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="#">
            <i class="fas fa-download mr-2"></i>
            Download Now!
          </a>
        </div> -->
      </div>
    </section>

  {% endblock %}